<div *ngIf="router.url == '/'; else nodrawer">
<div class="bg-img">
 <app-menu></app-menu>
<div class="onImg">
  <h1 class="headerText">Become Fluent in Any Language</h1>
  <h3 class="subtitle">Choose from over 10,000 teachers for 1-on-1 lessons based on your goals and interests.</h3> 
  <form>
    <mat-form-field class="autocompleteSearch">
      <input class="searchInput" type="text" placeholder="Choose a language..." matInput [matAutocomplete]="auto" [formControl]="myControl" />
      
      <mat-autocomplete class="autoComplete" #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-button class="searchIcon" routerLink="/teachers">
      <mat-icon >search</mat-icon>
    </mat-button>
  </form>
</div>
</div>

<div class="teacher-cards" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" *ngFor="let language of languages">
      <mat-card class="example-card" routerLink="/languages">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ language.language }}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
        <img mat-card-image src="../assets/french_teacher.jpg" />
      </mat-card>
  </div>
</div>
	

<button class="ftButton" mat-button routerLink="/teachers">FIND YOUR TEACHER</button>
 
</div>
<ng-template #nodrawer>
  <div class="wrapper dynamic-background">
    <router-outlet></router-outlet>
  </div>
</ng-template>