.subtitle{
    color: white;
}

.teacher-cards > mat-card {
    padding: 10px;
    width: 200px; 
}
   
.example-card {
    color:black;
    max-width: 200px;
    max-height: 250px;
    margin-top:10%;
    margin-left:15%;
    margin-right:5%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
               0 1px 1px 0 rgba(0,0,0,1), 
               0 1px 3px 0 rgba(0,0,0,1);
}
   
.mat-card-subtitle{
    color:black;
}
 
.example-header-image {
    background-image: url('/frontend/src/assets/france.png');
    background-size: cover;
}
