  <mat-toolbar class="toolbar">
      <mat-toolbar-row  #stickyMenu [class.sticky] = "sticky" [class.stickywhite] = "stickywhite">  
      <div #whiteLogo [class.whitelogo] = "whitelogo" routerLink=""></div>
      <div #transparentLogo [class.transparentlogo] = "transparentlogo" routerLink=""></div>
      <div class="spacer"></div>
      <button mat-button routerLink="/signup" routerLinkActive="active">Signup</button>
      <button mat-button routerLink="/signin" routerLinkActive="active" >Signin</button>
      <button mat-button routerLink="/teachers" routerLinkActive="active">Find a Teacher</button>
      <button mat-button *ngIf="(isSignedIn$ | async)" (click)="signout()">Signout</button>
  </mat-toolbar-row>
  </mat-toolbar>

  