<div class="content">
  <div class="topDiv">
    <div><app-menu></app-menu></div>
    <div class="userCard">
      <mat-card
        *ngIf="user && !updateUser; else updateUserDataDiv"
        style="
          background-color: #f7c272;
          color: #111d5e;
          width: 30em;
          margin: 0 auto;
        "
      >
        <div style="width: 100%; height: 100%; position: absolute">
          <div class="updateUser" *ngIf="user">
            <button mat-button (click)="updateUserHandler()">Update</button>
          </div>
        </div>
        <mat-card-title>
          <img
            src="https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg"
            alt="profile image"
            height="100px"
            width="100px"
            style="border-radius: 100%"
          />
          <p>
            {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
          </p>
        </mat-card-title>
        <mat-card-content>
          <hr />
          <p>{{ user.role }}</p>
          <p *ngIf="user.country">From {{ user.country }}</p>
          <p *ngIf="user.is_native && user.role === 'TEACHER'">
            Type: {{ user.type }}
          </p>
          <p *ngIf="user.type && user.role === 'TEACHER'">
            Native speaker: {{ user.is_native }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="homeworkCard">
      <mat-card
        *ngIf="user"
        style="
          background-color: #f7c272;
          color: #111d5e;
          height: 10em;
          width: 15em;
          margin: 0 auto;
        "
      >
        <mat-card-title>Homework</mat-card-title>
        <mat-card-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Homework code</mat-label>
              <input
                matInput
                placeholder="0000"
                [value]="homeworkCode"
                (change)="onHomeworkCodeChangeHandler($event)"
              />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions style="display: 'flex'; justify-content: center">
          <button
            mat-button
            *ngIf="user.role === 'TEACHER'"
            (click)="openNewHomeWorkDialog()"
          >
            New
          </button>
          <button mat-button (click)="onGetHomeworkHandler()">Go</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="languageCard">
      <mat-card
        *ngIf="user && !updateLanguages; else changeLanguageDiv"
        style="
          background-color: #f7c272;
          color: #111d5e;
          height: 15em;
          width: 20em;
          margin: 0 auto;
        "
      >
        <mat-card-title>Choosen languages</mat-card-title>
        <mat-card-content>
          <ul class="languages">
            <ngx-simplebar [options]="options">
              <li *ngFor="let language of user.languages">
                <span>{{ language.language }}</span>
              </li>
            </ngx-simplebar>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <div class="changeLanguageCardActions">
            <button
              class="changeLanguageButton"
              mat-button
              (click)="updateLanguagesHandler()"
            >
              Update
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="bottomDiv">
    <div class="soldlessonsCard">
      <mat-card
        *ngIf="user && user.role === 'TEACHER'; else lessonsDiv"
        style="background-color: #f7c272; color: #111d5e"
      >
        <mat-card-title style="margin: 10px">Sold lessons</mat-card-title>
        <mat-card-content style="margin: 0 auto">
          <table
            class="lessons"
            style="
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: 1.5em;
            "
          >
            <tr>
              <th>Price</th>
              <th>Title</th>
              <th>Language</th>
              <th>
                <button
                  class="changeLanguageButton"
                  mat-button
                  (click)="openNewLessonDialog()"
                >
                  New
                </button>
              </th>
            </tr>
            <tr *ngFor="let lesson of user.lessons">
              <td>
                <span>{{ lesson.price }}</span>
              </td>
              <td>
                <span>{{ lesson.title }}</span>
              </td>
              <td>
                <span>{{ getLessonLanguage(lesson.lesson_language) }}</span>
              </td>
              <td>
                <div style="display: flex; flex-direction: row">
                  <button class="changeLanguageButton" mat-button>
                    Update
                  </button>
                  <button
                    class="changeLanguageButton"
                    mat-button
                    (click)="onDeleteLessonHandler(lesson.id)"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="homeworksCard">
      <mat-card
        *ngIf="user && user.role === 'TEACHER'"
        style="background-color: #f7c272; color: #111d5e"
      >
        <mat-card-title style="margin: 10px">Created homeworks</mat-card-title>
        <mat-card-content>
          <table
            class="lessons"
            style="
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: 1.5em;
            "
          >
            <tr>
              <th>Uuid</th>
              <th>Title</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
            <tr *ngFor="let homework of allHomeworks">
              <td>
                <span>{{ homework.uuid }}</span>
              </td>
              <td>
                <span>{{ homework.title }}</span>
              </td>
              <td>
                <span>{{ homework.name }}</span>
              </td>
              <td>
                <span>{{ homework.description }}</span>
              </td>
              <td>
                <div style="display: flex; flex-direction: row">
                  <button class="changeLanguageButton" mat-button>
                    Update
                  </button>
                  <button
                    class="changeLanguageButton"
                    mat-button
                    (click)="onDeleteHomeworkHandler(homework.uuid)"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #lessonsDiv>
  <div class="studentlessonsCard">
    <mat-card style="background-color: #f7c272; color: #111d5e">
      <mat-card-title style="margin: 10px">Upcoming lessons</mat-card-title>
      <mat-card-content>
        <table
          class="lessons"
          style="
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.5em;
          "
        >
          <tr>
            <th>Date</th>
            <th>Title</th>
          </tr>
          <tr *ngFor="let lesson of studentLessons">
            <td>
              <span>{{ dateConverter(lesson.date) }}</span>
            </td>
            <td>
              <span>{{ lesson.lesson }}</span>
            </td>
            <td>
              <button
                class="changeLanguageButton"
                mat-button
                (click)="onDeleteStudentlessonHandler(lesson.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #changeLanguageDiv>
  <mat-card
    *ngIf="user"
    style="
      background-color: #f7c272;
      color: #111d5e;
      height: 15em;
      width: 20em;
      margin: 0 auto;
    "
  >
    <mat-card-title>Update languages</mat-card-title>
    <mat-card-content>
      <ngx-simplebar [options]="options">
        <div class="updatelanguagesList" *ngFor="let language of allLanguages">
          <!-- checked if user already picked the language up -->
          <mat-checkbox
            class="example-margin"
            [checked]="alreadyChecked(language.id)"
            (change)="changeCheckHandler(language.id)"
            >{{ language.language }}</mat-checkbox
          >
        </div>
      </ngx-simplebar>
    </mat-card-content>
    <mat-card-actions>
      <div class="changeLanguageCardActions">
        <button
          class="changeLanguageButton"
          mat-button
          (click)="updateLanguagesHandler()"
        >
          Update
        </button>
        <button
          class="changeLanguageButton"
          mat-button
          (click)="cancelActionsHandler()"
        >
          Cancel
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #updateUserDataDiv>
  <mat-card
    *ngIf="user"
    style="
      background-color: #f7c272;
      color: #111d5e;
      height: 35em;
      width: 20em;
      margin: 0 auto;
    "
  >
    <div style="width: 100%; height: 100%; position: absolute">
      <div class="updateUser" *ngIf="user">
        <button mat-button (click)="cancelActionsHandler()">Cancel</button>
      </div>
    </div>
    <mat-card-title>Update profile</mat-card-title>
    <mat-card-content>
      <ngx-simplebar [options]="options">
        <form
          [formGroup]="updateUserForm"
          display="flex"
          justify-content="center"
          fxLayoutAlign="stretch"
          fxLayout="column"
          (ngSubmit)="updateUserData(updateUserForm)"
        >
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Username"
              color="primary"
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="E-mail"
              color="primary"
              formControlName="email"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="First name"
              color="primary"
              formControlName="first_name"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Last name"
              color="primary"
              formControlName="last_name"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              color="primary"
              formControlName="password"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Country"
              color="primary"
              formControlName="country"
            />
          </mat-form-field>

          <div *ngIf="user.role === 'TEACHER'">
            <p style="text-align: center"><span>Teacher type</span></p>
            <mat-radio-group
              formControlName="type"
              style="margin: 5px; display: flex; justify-content: center"
            >
              <mat-radio-button
                class="selectOneBtn"
                value="PROFESSIONAL"
                style="padding: 5px"
                >Professional</mat-radio-button
              >
              <mat-radio-button value="COMMUNITY" style="padding: 5px"
                >Community</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <div *ngIf="user.role === 'TEACHER'">
            <p style="text-align: center"><span>Native speaker</span></p>
            <mat-radio-group
              formControlName="is_native"
              style="margin: 5px; display: flex; justify-content: center"
            >
              <mat-radio-button
                class="selectOneBtn"
                value="true"
                style="padding: 5px"
                >Yes</mat-radio-button
              >
              <mat-radio-button value="false" style="padding: 5px"
                >No</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <button mat-raised-button color="primary">Update</button>
        </form>
      </ngx-simplebar>
    </mat-card-content>
  </mat-card>
</ng-template>

//TODO intro
